<!-- This is still a 2nd level dropdown item for header -->
<% if pool.allowMulti %>
  <li><%= link_to "Create entry", new_pool_entry_path(pool),
         class:'dropdown-item' %></li>
<% end %>
<li class="divider"></li>
<!-- Level Three dropdown - This is the per entry menu list -->
<% entries = pool.entries.where(user_id: current_user.id) %>
<% entries.each do |entry| %>
  <li class="nav-item dropdown">
    <a class="dropdown-item dropdown-toggle" id="dropdownMenuEntries" href="#"
       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= entry.name %>
    </a>
    <ul class="dropdown-menu left" aria-labelledby="dropdownMenuEntries">
      <li><%= link_to "Edit entry", edit_entry_path(entry),
                        class:'dropdown-item'  %></li>
      <li> <%= link_to "Delete entry", entry, method: :delete,
            data: {confirm: "Are you sure?"}, title: "Delete#{entry.name}",
                        class:'dropdown-item'  %></li>
      <% if !current_week.nil? %>
        <% pick = entry.picks.where(week_id: current_week.id) %>
        <% if pick.empty? %>
          <% if entry.survivorStatusIn %>
            <% if !pool.getSurvivorWinner %>
              <% if pool.getCurrentWeek.week_number >= pool.starting_week %>
                <li><%= link_to "Make pick(s)", new_entry_pick_path(entry),
                        class:'dropdown-item'  %></li>
              <% end %>
            <% else %>
              <li><%= link_to "Pool is done!", "#", class:'dropdown-item' %></li>
            <% end %>
          <% else %>
            <li><%= link_to "Survivor Status:Out", "#", class:'dropdown-item' %></li>
          <% end %>
        <% else %>
          <% if current_week.checkStateOpen %>
            <% pick = pick[0] %>
            <li><%= link_to "Edit pick(s)", edit_pick_path(pick),
                        class:'dropdown-item'  %></li>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </li>
<% end %>
