<div class="poolFields">
  <%= f.error_notification %>

  <%= f.input :name, placeholder: 'Name' %>

  <%= f.input :poolType, label: 'Pool Type', placeholder: 'Pool Type',
              collection: Pool::POOL_TYPES, selected: Pool::POOL_TYPES[:Survivor],
              hint: 'At this time only Survivor pools are supported.',
              disabled: true %>
<% if nil %>
  <%= f.input :allowMulti, label: 'Allow Multiple',
              hint: 'Allow multiple entries per user',
              as: :boolean, boolean_style: :inline %>
<% end %>
  <%= f.input :allowMulti, label: 'Allow Multiple',
              hint: 'Allow multiple entries per user',
              as: :radio_buttons%>

  <%= f.input :starting_week, label: 'Starting Week', placeholder: 'Starting Week' %>


<% if nil %>
  <%= f.input :isPublic, label: 'Public', as: :radio_buttons %>

  <%= f.input :password, placeholder: 'Password' %>
<% end %>
</div>
