<% provide(:title, "Show Pool") %>
<!-- Render the season navigation bar -->
<%= render 'shared/mgmt_weeks_nav', season: current_season(1), week_number: 0 %>

<div class="container pageContent">
  <h1 class="pageHeader"><%= @pool.name %></h1>
  <div class="d-flex">
    <div class="poolPageDataHeader">Pool Type: </div>
    <div class="poolPageData"><%= render 'show_type', pool: @pool %></div>
  </div>
  <div class="d-flex">
    <div class="poolPageDataHeader">Status: </div>
    <div class="poolPageData">
      <% if @pool.isPublic %>
        Public<br />
      <% else %>
        Private<br />
      <% end %>
    </div>
  </div>
  <% if !@current_week.nil? %>
    <div class="d-flex">
      <div class="poolPageDataHeader"> Current Week: </div>
      <div class="poolPageData"><%= @current_week.week_number %></div>
    </div>
    <div class="poolPageBoard">
      <% if @pool.poolType == Pool::POOL_TYPES[:Survivor] %>
        <%= render 'show_survivor_board', pool: @pool, current_week: @current_week %>
      <% elsif @pool.poolType == Pool::POOL_TYPES[:SUP] %>
        <p>Sorry but SUP based pools are not supported at this time.</p>
      <% elsif @pool.poolType == Pool::POOL_TYPES[:PickEm] %>
        <p>Sorry but PickEm based pools are not supported at this time.</p>
      <% elsif @pool.poolType == Pool::POOL_TYPES[:PickEmSpread] %>
        <p>Sorry but PickEmSpread based pools are not supported at this time.</p>
      <% end %>
    </div>
  <% end %>
</div>
