<% provide(:title, "Edit Week #{@week.week_number}") %>
<!-- Render the season navigation bar -->
<!-- %= render 'shared/mgmt_weeks_nav', season: current_season(1), week_number: 0 % -->

<div class="row">
  <!-- Render the main navigation bar -->
  <div class="col-sm-8">
    <div class="card card-primary">
      <% if @week.checkStatePend %>
        <div class="card-header">Edit Game Information </div>
        <div class="card-body">
          <h3 class="card-title">Edit Week <%= @week.week_number %></h3>
          <%= simple_form_for @week,
            wrapper: :horizontal_form,
            wrapper_mappings: {
              datetime:      :horizontal_multi_select,
              check_boxes:   :horizontal_collection,
              radio_buttons: :horizontal_collection,
              file:          :horizontal_file,
              boolean:       :horizontal_boolean
           } do |f| %>
            <%= f.error_notification %>

            <div id="games">
              <%= f.simple_fields_for :games do |g| %>
                <%= render 'game_fields', f: g %>
              <% end %>
            </div>

            <div class="links">
              <%= link_to_add_association 'Add New Game', f, :games, class: "game-add"  %>
            </div>

            <%= f.button :submit, label: "Edit week", class: 'btn btn-large btn-primary' %>
            <%= link_to 'Cancel', week_path(@week), type: 'button',
                         class: "btn btn-large btn-danger" %>

          <% end %>
        </div>
      <% elsif @week.checkStateClosed %>
        <div class="panel-header">Enter Game Scores </div>
        <div class="panel-body">
          <h1>Submit Scores Week <%= @week.week_number %></h1>
          <%= simple_form_for(@week, html: { class: 'form-inline' }) do |f| %>
            <% @teams = Team.all.where(nfl: true) %>
            <%= f.simple_fields_for :games do |builder| %>
              <%= render 'game_score_fields', f: builder, teams: @teams %>
            <% end %>
            <%= f.button :submit, label: "Submit scores", class: 'btn btn-large btn-primary' %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
