<% provide(:title, "Week #{@week.week_number} Games") %>

<div class="container offset-1">
  <!-- Render the navigation bars -->
  <%= render 'shared/mgmt_weeks_nav', season: @season, week_number: @week.week_number %>

  <!-- Now the main page -->
  <h1><%= "Season: #{@season.year}  Week: #{@week.week_number}" %></h1>
  <div class="adminWeekMgmt">
    <% if current_user.admin? %>
      <% if !@week.checkStateFinal %>
        <%= link_to "Edit week?", edit_week_path(@week) %>
      <% end %>
      <% if @week.checkStatePend %>
        <% if @week.deleteSafe?(@season) %>
          <%= link_to "Delete week?", @week, method: :delete,
                      data: {confirm: "Are you sure?"},
                      title: "Delete week #{@week.week_number}" %>
        <% end %>
      <% end %>
      <% if @week.checkStateClosed %>
        <%= link_to "  Update scores?", add_scores_path(@week) %>
      <% end %>
    <% end %>
  </div>

  <% if @week.checkStateClosed || @week.checkStateFinal %>
    <% showScores = true %>
  <% else %>
    <% showScores = false %>
  <% end  %>
  <%= render 'shared/games', week: @week, games: @games, nflTeams: true, showScores: showScores %>
  <br />
  <% if current_user.admin? && !@week.checkStateFinal %>
    <h3> State: <%= render "shared/show_week_state", week: @week %> </h3>
    <%= render "shared/show_week_state_btn", week: @week %>
  <% end %>
</div>
