<% provide(:title, "Season #{@season.year}") %>

<!-- Render the navigation bars -->
<%= render 'shared/mgmt_weeks_nav', season: @season, week_number: @season.current_week %>

<div class="row">
  <div class="col-sm-8">
    <div class="card bg-primary text-white">
      <div class="card-header"> <%= "#{@season.year}" %>
      </div>
      <div class="card-body bg-light text-dark">
        <% current_week = @season.getCurrentWeek %>
        <%= link_to "[edit]", edit_season_path(@season) %>
        <%= link_to "[Delete]", @season, method: :delete,
          data: {confirm: "Are you sure?"}, title: "Delete Season #{@season.year}" %>
        <ul class="list-group">
          <li class="list-group-item"><b>Type:</b>
            <% if @season.nfl_league %>
              NFL League
            <% else %>
              College League
            <% end  %>
          </li>
          <li class="list-group-item"><b>Number of Weeks: </b> <%= "#{@season.number_of_weeks}" %></li>
          <li class="list-group-item">
            <% if current_week %>
              <b>Current Week: </b> <%= link_to "#{current_week.week_number}", week_path(current_week) %>
              <b>State: </b> <%= render 'shared/show_week_state', week: current_week %>
              <small><%= link_to "[edit]", edit_week_path(current_week) %></small>
            <% else %>
              <b>Current Week: </b> <%= "No weeks created yet" %>
            <% end %>
          </li>
          <li class="list-group-item">
            <div class="dropdown">
              <button class="btn btn-outline-primary dropdown-toggle" type="button"
                      id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                      aria-expanded="false">
                Show Week
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <% @season.weeks.order(:week_number).each do | week | %>
                  <%= link_to "#{week.week_number}", week_path(week), class: "dropdown-item" %>
                <% end %>
              </div>
            </div>
          </li>
        </ul>
        <div class="btn-group">
          <button type="button" class="btn btn-default btn-primary dropdown-toggle" data-toggle="dropdown">
            Set Season State
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to "Open", season_open_path(@season) %></li>
            <li><%= link_to "Closed", season_closed_path(@season) %></li>
          </ul>
        </div>
        <% if current_week && !current_week.checkStateFinal %>
          <%= render "shared/show_week_state_btn", week: current_week %>
        <% end %>
      </div>
    </div>
  </div>
</div>
