<% provide(:title, "Log in") %>

<div class="container pageContent">
  <h1 class="pageHeader">Log in</h1>

  <%= form_for(:session, url: login_path) do |f| %>

    <div class="form-group">
      <%= f.email_field :email, class: 'form-control col-sm-4', id: 'signin_email',
              placeholder: 'Email Address' %>
    </div>

    <div class="form-group">
      <%= f.password_field :password, class: 'form-control col-sm-4', id: 'signin_password',
              placeholder: 'Password' %>
    </div>
    <p>
      <small>Don't remember password?
        <%= link_to "[click here]", new_password_reset_path %>
      </small>
    </p>

    <div class="form-check form-check-inline">
      <%= f.label :remember_me, class: "form-check-label" do %>
      <%= f.check_box :remember_me, class: 'form-check-input' %>
      <span>Remember me on this computer</span>
      <% end %>
    </div>

    <div><%= f.submit "Log in", class: "btn btn-primary", id: 'signin_button' %></div>

  <% end %>

  <div>New user? <small><%= link_to "[Sign up now!]", signup_path %></small></div>
</div>
