<% provide(:title, "Invite Message") %>

<div class="container pageContent">
  <h1 class="pageHeader">Send Pool Invite Message</h1>
  <%= form_tag send_invite_path(@pool), method: :post, role: 'form' do %>

    <div class="form-group row">
      <%= label_tag :subject, "Message Subject", class: "col-sm-3 form-label" %>
      <div class="col-sm-6">
        <%= text_field_tag :subject, params[:subject], size: 20, class: "form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <%= label_tag :msg, "Message Body", class: "col-sm-3 form-label" %>
      <div class="col-sm-6">
        <%= text_area_tag :msg, params[:msg], rows: "10", class: "form-control" %>
      </div>
    </div>

    <h4> Recepients </h4>
    <div class="form-group row select optional">
      <%= label_tag :PoolList, "Select Pool", class: "col-sm-3 form-label" %>
      <div class="col-sm-6">
        <%= select_tag :PoolList, options_from_collection_for_select(@pool_list, "id", "name"),
                          { include_blank: true, class: 'form-control select optional',
                            id: 'emailPoolList' } %>
        <small id="emailHelp" class="form-text text-muted">Adds email addresses from selected pool</small>
      </div>
    </div>

    <div class="form-group row">
      <%= label_tag :emailListAddrs, "Add email addresses", class: "col-sm-3 form-label" %>
      <div class="col-sm-6">
      <%= text_area_tag :emailListAddrs, params[:emailListAddrs], rows: "2", class: "form-control" %>
        <small id="emailHelp" class="form-text text-muted">Add email addresses separated by a comma</small>
        <% @email_addr_errors.each do |email_error| %>
          <p class="help-block error-msg"><%= "#{email_error}" %></p>
        <% end %>
      </div>
    </div>

    <div class="form-group row">
      <%= label_tag :phoneListNmbrs, "Add phone numbers", class: "col-sm-3 form-label" %>
      <div class="col-sm-6">
        <%= text_area_tag :phoneListNmbrs, params[:phoneListNmbrs], rows: "2", class: "form-control" %>
        <small id="emailHelp" class="form-text text-muted">Add phone numbers separated by a comma</small>
        <% @phone_errors.each do |phone_error| %>
          <p class="help-block error-msg"><%= "#{phone_error}" %></p>
        <% end %>
      </div>
    </div>

    <div class="form-group">
      <%= submit_tag "Send message", class: "btn btn-large btn-primary" %>
    </div>

  <% end %>
</div>
