<div class="btn-toolbar weeks-nav" role="toolbar" aria-label="NFL Weeks Toolbar buttons">
  <div class="btn-group-sm" role="group" aria-label="First group">
      <% if current_season(1) %>
        <% if current_user.admin? %>
          <%= link_to "Season #{season.year}", season_path(season),
                    class: "btn btn-dark appStateBtn", :role => "button" %>
          <% if season.weeks.count < season.number_of_weeks %>
            <%= link_to "Create new week", new_season_week_path(season),
                    class: "btn btn-dark appStateBtn", :role => "button" %>
          <% end %>
        <% else %>
          <%= link_to "Season #{season.year}", "#", :class => "btn btn-dark",
                           :role => "button" %>
        <% end %>
        <% if season.weeks.any? %>
          <div class="btn-group" role="group">
            <button class="btn btn-sm btn-dark appStateBtn dropdown-toggle" type="button"
                    id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
              Week #
            </button>
            <div class="dropdown-menu dropdown-menu-right mgmtWeeksDropdown" aria-labelledby="dropdownMenuButton">
              <% season.weeks.order(:week_number).each do |week| %>
                <% if week.week_number == week_number %>
                  <%= link_to "#{week.week_number}", week_path(week), :class => "dropdown-item active" %>
                <% else %>
                  <%= link_to "#{week.week_number}", week_path(week), :class => "dropdown-item" %>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% else %>
        <% if current_user.admin? %>
          <%= link_to "Create new season", new_season_path %>
        <% end %>
      <% end %>
  </div>
</div>
