<% provide(:title, "Make picks") %>
<!-- Render the season navigation bar -->
<%= render 'shared/mgmt_weeks_nav', season: current_season(1), week_number: 0 %>

<div class="container">
  <h1 class="pageHeader">Make picks for Week <%=@week.week_number%></h1>
  <div class="col-sm-8 picks-selector">
    <% @teams = Team.all.where(nfl: true) %>
    <%= simple_form_for([@entry, @pick], html: { class: 'form-inline'}) do |f| %>
      <%= f.error_notification %>
      <%= f.simple_fields_for :game_picks do |gp| %>
        <fieldset>
          <%= gp.error_notification %>
          <% @select_teams = @pick.buildSelectTeams(@week) %>
          <%= gp.input :chosenTeamIndex, label: "Pick Team:",
                collection: @select_teams, value_method: :id,
                label: "Pick Team",
                input_html: { id: "gamePick", class: "gamePickSelect" },
                label_html: { class: "gamePick" } %>
        </fieldset>
      <% end %>
      <%= f.button :submit, label: "Submit Pick(s)", class: "btn btn-md-large btn-secondary gamePickBtn" %>
    <% end %>
  </div>
  <div class="col-sm-8 picks-games">
    <h3>Review games</h3>
    <div class="picks-games-list">
      <%= render 'shared/games', week: @week, games: @week.games, nflTeams: true, showScores: false %>
    </div>
  </div>
</div>
