<nav class="navbar navbar-dark bg-dark navbar-expand-md fixed-top">
  <%= link_to "Football Pool Mania", root_path, class:'header-brand navbar-brand col-4' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbar-list-2" aria-controls="navbarNav" aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbar-list-2">
    <ul class="navbar-nav" id="main-nav-list">
    <% if logged_in? %>
      <li class="nav-item">
        <%= link_to '<i class="fa fa-home fa-fw"></i>Home'.html_safe,
               root_path, class: 'nav-link'  %>
      </li>
      <li class="nav-item">
        <%= link_to '<i class="fa fa-users fa-fw"></i>All Users'.html_safe,
        users_path, class: 'nav-link' %>
      </li>
      <!-- Level one dropdown -->
      <li class="nav-item dropdown dropleft">
        <a id="dropdownMenu1" href="#" data-toggle="dropdown" aria-haspopup="true"
           aria-expanded="false" class="nav-link dropdown-toggle">
           <%= current_user.name %></a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu1">

          <%= link_to '<i class="fa fa-user fa-fw"></i>Profile'.html_safe, current_user,
                class:'dropdown-item' %>
          <%= link_to '<i class=" fa fa-cog fa-fw"></i>Settings'.html_safe,
                edit_user_path(current_user), class:'dropdown-item'  %>
          <% if !current_user.confirmed? %>
            <%= link_to '<i class="fa fa-envelope fa-fw"></i>Resend Confirmation'.html_safe,
                resend_confirm_path(current_user), class:'dropdown-item' %>
          <% end %>
          <div class="dropdown-divider"></div>
          <%= link_to '<i class="fa fa-sign-out fa-fw"></i>Log out'.html_safe,
          logout_path, method: "delete", class:'dropdown-item' %>
        </div>
      </li>
      <!-- End Level one -->
    </ul>
  <% else %>
    <%= form_for(:session, url: login_path,
           html: {class: 'header-form-inline form-inline ml-auto'}) do |f| %>
      <div class="form-group">
        <%= f.email_field :email, class: 'form-control form-control-sm mr-1',
              id: 'login_email', placeholder: 'Email Address' %>
      </div>

      <div class="header-form-group">
        <%= f.password_field :password, class: 'form-control form-control-sm mr-1',
              id: 'login_password', placeholder: 'Password' %>
      </div>
      <%= f.submit "Log in", class: "btn btn-sm btn-primary", id: 'login_button' %>
    <% end %>
  <% end %>
  </div>
</nav>
